@charset "UTF-8";

body{
    background: rgb(78, 78, 78);
    font: normal 15pt arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background: rgb(223, 223, 223);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.439);
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}